<footer>
    <span><p>&copy; Recapture Organics&nbsp;&nbsp;&mdash;&nbsp;&nbsp;v2020.02.29</p></span>
    <span>
        <a href="https://www.instagram.com/recaptureorganics/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/recapture.organics"><i class="fab fa-facebook"></i></a>
        <a href="https://www.linkedin.com/in/recapture-organics-476753196/"><i class="fab fa-linkedin"></i></a>
    </span>
    <span><i class="fas fa-code" matTooltip="Developed"></i><p> with </p><i class="fas fa-cannabis" matTooltip="positive vibes"></i><p> by </p><a href="https://www.sunderapps.com/" target="_blank" matTooltip="Sunder Apps"><img class="sunder" src="https://i.imgur.com/y1zkxwA.png" /></a></span>
</footer>