<footer>
    <span><p>&copy; Recapture Organics&nbsp;&nbsp;&mdash;&nbsp;&nbsp;v2019.11.20</p></span>
    <span>
        <!--a href="https://facebook.com/brahctopusband" target="_blank" matTooltip="Facebook"><i class="fab fa-facebook"></i></a>
        <a href="https://instagram.com/brahctopus" target="_blank" matTooltip="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCWGVAYsHVAvD2U77-Q_EugA" target="_blank" matTooltip="YouTube"><i class="fab fa-youtube"></i></a>
        <a href="https://geo.itunes.apple.com/us/album/mothership/1450453947?uo=4&app=music&ls=1&at=1000lHKX" target="_blank" matTooltip="Apple Music"><i class="fab fa-itunes-note"></i></a>
        <a href="https://open.spotify.com/album/2W995xBOzMUEjMUpsr1WlT" target="_blank" matTooltip="Spotify"><i class="fab fa-spotify"></i></a>
        <a href="https://play.google.com/music/m/Bwva5lw7shol2cvkgf63yli24le?signup_if_needed=1" target="_blank" matTooltip="Google Play"><i class="fab fa-google-play"></i></a>
        <a href="https://music.amazon.com/albums/B07N289L4D?do=play" target="_blank" matTooltip="Amazon Music"><i class="fab fa-amazon"></i></a>
        <a href="https://napster.com/artist/art.348960426/album/alb.348960429" target="_blank" matTooltip="Napster"><i class="fab fa-napster"></i></a-->
            Your Social Links Here
    </span>
    <span><i class="fas fa-code" matTooltip="Developed"></i><p> with </p><i class="fas fa-cannabis" matTooltip="positive vibes"></i><p> by </p><a href="https://www.sunderapps.com/" target="_blank" matTooltip="Sunder Apps"><img class="sunder" src="https://i.imgur.com/y1zkxwA.png" /></a></span>
</footer>