<h2>Cart</h2>
<mat-list *ngFor="let item of this.data">
    <mat-list-item *ngFor="let variation of item.item_data.variations">
        <span mat-line>
            <mat-form-field>
                <mat-label>{{ variation.item_variation_data.name }}:</mat-label>
                <input matInput type="number" min="0" max="100" [(ngModel)]="variation.quantity" (input)="this.updateCart(item.id, variation.id, $event)" />
            </mat-form-field>
            <button><i class="fas fa-times"></i></button>
        </span>
    </mat-list-item>
</mat-list>