<!--img class="bg" src="https://i.imgur.com/a1nneC3.jpg" /-->
<div class="container">
    <div class="page v vp-fade-in">
        <h1>About Us</h1>
        <h2>Recapture your life through organic cannabinoids</h2>
        <p>Recapture Organics is on a mission to heal the world with cannabinoids in an organic, healthy way.  We offer a wide variety of consumption methods and provide accurate cannabinoid and terpene profiles for our products.</p>
        <div class="badges">
            <img src="https://i.imgur.com/MmZE9Fb.png" />
            <img src="https://i.imgur.com/rYvpVvg.png" />
        </div>
    </div>
</div>