<!--img class="bg" src="https://i.imgur.com/a1nneC3.jpg" /-->
<div class="container">
    <div class="header section zoom-hover">
        <div style="background-image: url(https://i.imgur.com/67pqdgI.jpg);background-position: 50% 50%"></div>
    </div>
    <div class="about section vp-fade-in">
        <div class="text">
            <h5>ABOUT US</h5>
            <h4>Welcome, friends.<br>We are Recapture Organics.</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, totam adipisci dolore autem praesentium provident quia voluptate expedita suscipit ab officia ipsam nesciunt reprehenderit, recusandae facere at unde impedit cum!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime aperiam, excepturi recusandae sequi ad praesentium temporibus ducimus pariatur nisi fugiat vel animi quis quam itaque hic, vitae doloribus, sunt cum?</p>
            <button mat-raised-button color="accent" routerLink="/shop">SHOP NOW</button>
        </div>
        <div class="zoom-hover img">
            <div style="background-image: url(https://i.imgur.com/OaU4RCY.jpg); background-position: 75% 50%;"></div>
        </div>
    </div>
    <div class="newsletter section vp-fade-in">
        <h4>Sign up for our newsletter</h4>
        <p>Subscribe for discounts, CBD insights, and much more!</p>
        <form>
            <mat-form-field appearance="standard">
                <i class="far fa-envelope" matPrefix></i>
                <mat-label>Email:</mat-label>
                <input matInput />
                <i class="fas fa-angle-right" matSuffix></i>
            </mat-form-field>
        </form>
    </div>
</div>