<div class="container">
    <div class="header section zoom-hover">
        <div style="background-image: url(https://i.imgur.com/MfArTwq.jpg);background-position: 50% 73%"></div>
    </div>
    <div class="about section vp-fade-in">
        <div class="text">
            <h5>ABOUT US</h5>
            <h4>Welcome, friends.<br>We are Recapture Organics.</h4>
            <p>We believe in providing only the best quality hemp products. Our USDA-certified organic, non-GMO products come from plants grown in the USA.</p>
            <p>For now, you can enjoy our high-quality CBD with tinctures and a topical rub, with more options coming in the future!</p>
            <button mat-raised-button color="accent" routerLink="/shop">SHOP NOW</button>
            <p>We also have full-spectrum and broad-spectrum variations of all of our products. Broad-spectrum products <b>do not</b> contain THC. Full-spectrum products contain blow the US legal limit of 0.3%</p>
            <button mat-raised-button color="accent" routerLink="/learn">LEARN MORE</button>
        </div>
        <div class="zoom-hover img">
            <div style="background-image: url(https://i.imgur.com/OaU4RCY.jpg); background-position: 75% 50%;"></div>
        </div>
    </div>
</div>