<div id="navbar" class="navbar vp-fade-in">
    <nav>
        <div id="logo" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="https://i.imgur.com/bXHktM4.png" />
            <h1>Recapture<br/><span>Organics</span></h1>
        </div>
        
        <ul>
            <li><a routerLink="/products/" routerLinkActive="active">Products</a></li>
            <li><a routerLink="/about/" routerLinkActive="active">About</a></li>
            <li><a href="mailto:recaptureorganics@gmail.com">Contact</a></li>
            <li>
                <div>
                    <a href="https://www.instagram.com/recaptureorganics/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/recapture.organics"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/recapture-organics-476753196/"><i class="fab fa-linkedin"></i></a>
                </div>
            </li>
        </ul>
    </nav>
</div>