//out: false
h2 {
    margin: 0;
    font-size: 1.2em;
    text-align: left;
    text-transform: uppercase;
}

p {
    margin: 0;
    text-align-last: left;
}

.entry {
    display: flex;
    align-items: center;
    padding: 5% 5px;
}