// out: false

@keyframes enter {
    0% {
        right: 0;
        transform: translateX(100%);
    }
    75% {
        right: var(--padding);
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0%);
    }
}

button {
    position: fixed;
    bottom: var(--padding);
    right: var(--padding);
    opacity: 0;
    transition: opacity 300ms;
    z-index: 9999;

    &.open {
        opacity: 1;
        animation-name: enter;
        animation-duration: 500ms;
    }
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary);
    z-index: 99999;
}