// out: false

button {
    position: absolute;
    bottom: var(--padding);
    right: var(--padding);
    z-index: 9999;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary);
    z-index: 99999;
}