// out: false
h2 {
    margin: 0;
    text-align: left;
}

p {
    margin: 0;
    text-align: left;
}

i {
    font-size: 50px;
}

img {
    width: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    min-height: 400px;
    background-color: var(--back);
    padding: 10px;
    margin: 20px;
}

.info {
    display: flex;
}

.text {
    display: flex;
    flex-direction: column;
}