<img class="bg" src="https://i.imgur.com/VclLdNt.jpg" />
<div class="container">
    <h1>Products</h1>
    <div class="page">
        <div class="product" *ngFor="let product of this.products">
            <div class="info">
                <i [class]="product.icon"></i>
                <div class="text">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                </div>
            </div>
            <img [src]="product.image" />
        </div>
    </div>
</div>