<!--img class="bg" src="https://i.imgur.com/VclLdNt.jpg" /-->
<div class="container">
    <h1>Products</h1>
    <div class="grid-h">
        <mat-card *ngFor="let product of this.products" class="vp-fade-in mat-elevation-z8">
            <mat-card-header>
                <div mat-card-avatar>
                    <i [class]="product.icon"></i>
                </div>
                <mat-card-title>{{ product.name }}</mat-card-title>
                <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image [src]="product.image" />
            </mat-card-content>
            <mat-card-actions>
                <!--button mat-button (click)="open(product.url)"--><button mat-button>Visit</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>