// out: false

@import '../../global.less';

mat-card {
    max-width: 500px;
}

.price {
    color: var(--fore);
    font-size: 27px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: var(--padding) auto;
    color: var(--back);
    background-color: var(--accent-1);

    h3, h4, h5 {
        white-space: normal;
    }

    .text, .img {
        width: 50%;
    }

    .text {
        padding: 0;
        .fluid(padding-left, 650px, 1200px, 25px, 100px);
        .fluid(padding-right, 650px, 1200px, 25px, 100px);
    }

    .img {
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &:nth-of-type(2n) {
        flex-direction: row-reverse;
        background-color: var(--accent-2);
    }

    &.intro {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
        padding: 20px;
        color: var(--fore);
        background-color: transparent;

        h2 {
            margin-bottom: 0;
        }
    }

    &.mission {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: unset;
        min-height: 267px;
        margin: 20px ~"calc(var(--padding) * -1)" var(--padding) ~"calc(var(--padding) * -1)";
        background-color: var(--accent-1);
    
        img {
            position: absolute;
            height: 100%;
            z-index: 0;
        }
    
        h5, h3 {
            position: relative;
            width: 100vw;
            margin: 0;
            text-align: center;
            color: var(--back);
            z-index: 1;
            white-space: normal;
        }

        h3 {
            padding: 0 20px;
            .fluid(font-size, 300px, 1200px, 35px, 48px);
            letter-spacing: -0.5px;
        }
    }
}


@media (max-width: 1080px) {
    .section {
        &.intro {
            padding-left: 10%;
            h2 {
                margin-top: 25px;
            }
        }
    }
}

@media (max-width: 650px) {
    .section {
        padding: 0;
        flex-direction: column-reverse;

        &:nth-of-type(2n) {
            flex-direction: column-reverse;
        }
        
        .text, .img {
            width: 100vw;
            margin: 0;
        }

        .text {
            padding: 25px;
        }

        &.intro {
            flex-direction: column;
            align-items: center;
            padding-left: 0;
            text-align: center;

            h2, h3 {
                width: 100%;
                text-align: center;
            }
        }

        &.mission {
            flex-direction: column;
        }
    }
}