<div class="container">
    <div class="intro section">
        <h2>Shop</h2>
        <h3>Know the difference:<br><span>Full-Spectrum</span><br/>Broad-Spectrum</h3>
        <button mat-raised-button color="primary" routerLink="/learn">LEARN MORE</button>
    </div>
    <div class="mission section">
        <img src="https://i.imgur.com/5kllHdN.png" />
        <h5>OUR PRODUCTS</h5>
        <h3>Our products are made from the finest 100% USDA organic, non-gmo hemp produced in the USA.</h3>
    </div>
    <div class="catalog">
        <div class="wrapper" *ngFor="let item of this.catalog">
            <div class="item" *ngIf="!item.is_deleted">
                <div class="section vp-fade-in" *ngFor="let variation of item.item_data.variations">
                    <div class="text">
                        <h5>{{ item.item_data.name }}</h5>
                        <h4>{{ variation.item_variation_data.name }}</h4>
                        <p>{{ item.item_data.description }}</p>
                        <p class="price">{{ variation.item_variation_data.price_money.amount / 100 | currency }} <sub>+ tax</sub></p>
                        <button mat-raised-button color="accent">ADD TO CART</button>
                    </div>
                    <div class="img" style="background-image: url(https://i.imgur.com/T9zEkby.png); background-position: 100% 50%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>