<img class="bg" src="https://i.imgur.com/67pqdgI.jpg" />
<div class="container">
    <div class="page v">
        <h1>Recapture Organics</h1>
        <h2>Find relief with our USDA organic cannabinoid products</h2>
        <button mat-raised-button color="primary">Shop Now</button>
    </div>
    <div class="page v">
        <app-products></app-products>
    </div>
    <div class="page v">
        <app-about></app-about>
    </div>
    <div class="page v">
        <app-contact></app-contact>
    </div>
</div>