// out: false
@import '../../global.less';

h1, h2 {
    text-transform: uppercase;
}

h1 {
    margin: 0;
    .fluid(font-size, 300px, 1200px, 45px, 75px);
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10%;
}

.logo {
    width: 100%;
    max-width: 200px;
}