<nav class="navbar" [class.open]="this.isOpen" (click)="this.toggle()">
    <button class="toggle"><span></span><p>ecapture Organics</p></button>
</nav>
<nav class="sidebar" [class.open]="this.isOpen">
    <div class="wrap">
        <div class="links">
            <ul>
                <li>
                    <a routerLink="/" routerLinkActive="active">
                        <i class="fas fa-home"></i>Home
                    </a>
                </li>
                <li>
                    <a href="https://brahctopus-ink-llc.square.site/s/shop" routerLinkActive="active">
                        <i class="fas fa-cash-register"></i>Shop
                    </a>
                </li>
                <li>
                    <a routerLink="/products/" routerLinkActive="active">
                        <i class="fas fa-flask"></i>Products
                    </a>
                </li>
                <li>
                    <a routerLink="/about/" routerLinkActive="active">
                        <i class="fas fa-id-card-alt"></i>About Us
                    </a>
                </li>
                <li>
                    <a routerLink="/contact/" routerLinkActive="active">
                        <i class="fas fa-phone"></i>Contact Us
                    </a>
                </li>
                <li>
                    <a routerLink="/analysis/" [queryParams]="this.randomAnalysis()" routerLinkActive="active">
                        <i class="fas fa-cannabis"></i>Random Analysis (TEST)
                    </a>
                </li>
                <li>
                    <a routerLink="/settings/" routerLinkActive="active">
                        <i class="fas fa-cog"></i>Settings
                    </a>
                </li>

            </ul>    
        </div>
    </div>
</nav>