<nav class="navbar" [class.open]="this.isOpen" (click)="this.toggle()">
    <button class="toggle"><span></span><p>ecapture Organics</p></button>
</nav>
<nav class="sidebar" [class.open]="this.isOpen">
    <div class="wrap">
        <div class="links">
            <ul>
                <!--li>
                    <a>
                        <i class="fas fa-cash-register"></i>Shop
                    </a>
                </li-->
                <li>
                    <a routerLink="/analysis/" [queryParams]="this.randomAnalysis()" routerLinkActive="active">
                        <i class="fas fa-cannabis"></i>Random Analysis
                    </a>
                </li>
                <!--li>
                    <a routerLink="/about/" routerLinkActive="active">
                        <i class="fas fa-id-card-alt"></i>About Us
                    </a>
                </li>
                <li>
                    <a routerLink="/contact/" routerLinkActive="active">
                        <i class="fas fa-phone"></i>Contact Us
                    </a>
                </li>
                <li>
                    <a routerLink="/subscribe/" routerLinkActive="active">
                        <i class="fas fa-envelope"></i>Subscribe
                    </a>
                </li-->
            </ul>    
        </div>
    </div>
</nav>